/** HOME PAGE **/


h1 {
    font-size: 30px;
    color: blue;
    text-decoration: underline;
}
.container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.bundling {
    border: 2px solid grey;
    background: whitesmoke;
    height: 200px;
    width: 400px;
}
.conveyors {
    border: 2px solid grey;
    background: whitesmoke;
    height: 500px;
    width: 300px;
    margin-left: 5px;
}
.storage {
    border: 2px solid grey;
    background: whitesmoke;
    height: 100px;
    width: 300px;
    margin-top: 400px;
    margin-left: 5px;
}
.neworder {
    border: 2px solid grey;
    background: whitesmoke;
    border-radius: 10%;
    height: 220px;
    width: 150px;
    text-align: center;
    margin-left: 400px;
}
input {
    width: 100px;
    margin-top: 20px;
}
.label {
    border: 2px solid greenyellow;
    height: 20px;
    width: 100px;
    margin-top: 50px;
    margin-left: 20px;
}
.footer {
    border: 2px solid grey;
    height: 50px;
    width: 1500px;
    text-align: center;
    margin-left: 100px;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    background: whitesmoke;
}
.header {
    border: 2px solid grey;
    background: whitesmoke;
    height: 50px;
    width: 1500px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
}
.div-serial {
    height: 30px;
    width: 100px;
    border: 2px solid green;
    margin-top: 5px;
}
.div-year {
    height: 30px;
    width: 100px;
    border: 2px solid green;
    margin-left: 5px;
    margin-top: 5px;
}
button {
    padding: 8px;
    color: white;
    background: blue;
    font-weight: 600;
    cursor: pointer;
}
.btn-neworder {
    margin-top: 5px;
}
.btn-neworder a {
    color: white;
    text-decoration: none;
}